#calc-shell {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    background-color: black;
    box-sizing: border-box;
    margin-right: 50px;
}

.display {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(184, 93, 184);
    color: black;
    height: 100px;
}

#display-text {
    font-size: 64px;
    padding-right: 4px
}

.all-buttons {
    display: flex;
    color: black;
    justify-content: space-around;
}

.left-buttons {
    display: flex;
    flex-direction: column;
}

.state-buttons {
    display: flex;
}

.state-buttons button {    
    background-color: palegoldenrod;
    height: 100px;
    width: 150px;
}

.right-buttons {
    display: flex;
    flex-direction: column;
}

.right-buttons button {
    background-color: aqua;
    height: 100px;
    width: 150px;
}


.state-buttons button:hover {
    background: rgb(204, 202, 176);
}


.number-buttons button:hover {
    background: #cdd5d8;
}

.right-buttons button:hover {
    background: rgb(78, 204, 204);
}

.all-buttons button:active {
    background: rgb(224, 224, 217);

}