#calc-shell {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    background-color: black;
    box-sizing: border-box;
    margin-right: 50px;
}

.display {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: purple;
    color: black;
    height: 100px;
}

#display-text {
    font-size: 64px;
    padding-right: 4px
}

.all-buttons {
    display: flex;
    color: black;
    justify-content: space-around;
}

.left-buttons {
    display: flex;
    flex-direction: column;
}

.state-buttons {
    display: flex;
}

.state-buttons button {    
    background-color: palegoldenrod;
    height: 100px;
    width: 150px;
}

.right-buttons {
    display: flex;
    flex-direction: column;
}

.right-buttons button {
    background-color: aqua;
    height: 100px;
    width: 150px;
}