#calc-shell {
    height: 600px;
    width: 600px;
    background-color: black;
}

.display {
    background-color: whitesmoke;
    color: black;
}

.buttons {
    color: black
}

.left-buttons {

}

.right-buttons {
    background-color: #f33131af;
}

.state-buttons {
    background-color: darkslategray;
}